
{% extends 'cards/base.html'%}
{% block body_block%}


{%if stop == 0 %}
<div class='container'>
<a class="btn btn-success" type="" href="{%url 'result'%}"> See Result</a>
</div>

{%else%}

<div class="container" style="position: absolute;
  left: 50%;
  top: 50%;transform: translate(-50%, -50%);">

<div class="card border-info mb-3" style="max-width: 18rem;">
 <div class="card-header">{{choice.title}}</div>
  <div class="card-body">
    <h4 class="card-title">{{choice.question}}</h4>

    <label class="card-text">
   {{choice.answer}} 
     <form method='POST' action="{%url 'qa'%}">{%csrf_token%} 
    <input class="btn btn-success" type="submit" name='correct'></input>
    </form>
	</label>
	<br>

	 <label class="card-text">
    {{choice.choice_a}}
     <form method='POST' action="{%url 'qa'%}">{%csrf_token%} 
    <input class="btn btn-success" type="submit" name='2'></input>
    </form>
	</label>
	<br>

	 <label class="card-text">
    {{choice.choice_b}}
    <form method='POST' action="{%url 'qa'%}">{%csrf_token%} 
    <input class="btn btn-success" type="submit" name='3'></input>
    </form>
	</label>
  </div>
</div>
</div>
</div>

{%endif%}


             





{% endblock %}
