
{% extends 'cards/base.html'%}
{% block body_block%}

<style>
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
/*  border: 1px solid #f1f1f1;
*/  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}



/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}



/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding:10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}




.text-center{
position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

</style>



{%for o in obj%}
    <div class='column'>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="card border-info mb-3" >

                <div class="card-header">{{o.title}}</div>
                  <div class="card-body text-info">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{o.question}}</p>   
                  </div>

                        <div class="flip-card-back">
                      <div class="card text-white bg-info mb-3" >
                        <div class="card-header">{{o.title}}</div>
                          <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h3 class="card-text">{{o.answer}}</h3>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


</div>


{%endfor%}



{% endblock %}
