


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{%url 'home'%}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Memorize
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{%url 'home'%}">Memorize</a>
        <a class="dropdown-item" href="{%url 'cards_list'%}">Cards List</a>
        </div>

         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{%url 'home'%}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choicess
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{%url 'choicess_view'%}">Choicess</a>
        <a class="dropdown-item" href="{%url 'result'%}">Result</a>
        <a class="dropdown-item" href="{%url 'new_qa'%}">Create Q&A</a>
        </div>



        <li class="nav-item">
        <a class="nav-link" href="{%url 'books_view'%}">Books</a>
      </li>

         <li class="nav-item">
        <a class="nav-link" href="#">To Do</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info" type="submit">Search</button>
    </form>
  </div>




</nav>